<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="css/main.css" />
  <script src="https://kit.fontawesome.com/07cd3ec3ab.js" crossorigin="anonymous"></script>
  <title>AV Accessibility Research</title>
</head>

<body>
  <main id="app">

    <header>
      <h1 class="hidden">Welcome to ezaccess</h1>
      <nav class="d-flex justify-content-center">
        <img class="w-25" alt="logo" src="images/logo.svg">

      </nav>
    </header>

    <h3 class="text-center p-4">MAKING EVERYTHING ACCESSIBLE FOR EVERYONE</h3>
    <p class="instructions lead">
      Click or press the number relative to the media that you would like to select<br>
      <i>Example: press 1 on your keyboard to choose the first media</i>
    </p>
    <ul class="video-poster-wrapper">
      <h2 class="hidden">Media list</h2>
      <poster v-for="(movie,index) in videodata" v-on:make-selection="loadMovie" :source="movie.source"
        :thumb="movie.thumb" :movie="movie" :key="index"></poster>
    </ul>



    <section class="hidden-movies" :class="{'show-movie': showDetails}">
      <h2 class="hidden">Media details</h2>
      <h3 class="movie-title">{{title}}</h3>
      <div class="media">
        <audio ref='media' v-on:timeupdate="progress" v-if="type == 'audio'" :src="'video/'+ source" autoplay></audio>
        <video ref="media" v-on:timeupdate="progress" v-else :src="'video/'+ source" autoplay></video>

      </div>
      <progress class="w-100" ref="progress" id="progress" value='20' aria-label="progress bar"
        role="progressbar"></progress>
      <ul class="text-center p-2">
        <li>SPACEBAR : Play/Pause</li>
        <li>M : Mute/Unmute</li>
        <li>T : Transcript</li>
      </ul>
      <div class="media-controls row justify-content-around m-5 text-center">
        <i v-if="status.paused" @click="togglePlayPause" class="fas fa-play col-4"></i>
        <i v-else @click="togglePlayPause" class="fas fa-pause col-4"></i>
        <i v-if="status.muted" @click="toggleMute" class="fas fa-volume-off col-4"></i>
        <i v-else @click="toggleMute" class="fas fa-volume-up col-4"></i>
        <i @click="toggleTranscript" class="fas fa-closed-captioning col-4"></i>
      </div>
      <div v-if="status.transcript">
        {{description}}
      </div>
    </section>


  </main>

  <footer>
    <h1 class="hidden">Footer</h1>
    <p>© 2020 ezaccess Inc. All rights reserved.</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="js/main.js"></script>
</body>

</html>